*.onnx filter=lfs diff=lfs merge=lfs -text
package.json -filter -diff -merge -text
package-lock.json -filter -diff -merge -text
presence/package.json -filter -diff -merge -text
presence/package-lock.json -filter -diff -merge -text
